spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  profiles:
    active: dev
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

rabbitmq:
  host: ${SPRING_RABBITMQ_HOST}
  port: ${SPRING_RABBITMQ_PORT}
jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 900000
